<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <style>
            h1{
                color: green;
                font-size:280%;
            }
            img{
                position: absolute;
                left: 30px;
                width:49%;
                height: 75%;
            }
            p{
                position: absolute;
                left: 800px;
                font-size: 140%;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .intro{
                color:coral;
                font-size: 175%;
            }
        </style>
    </head>
    <body>
        <center><h1>About Us</h1></center>
        <img src="https://media.istockphoto.com/id/1200963369/photo/hand-sowing-seeds.jpg?s=612x612&w=0&k=20&c=-KU-a5ZJya6hwDo-itsc6JNs388STG3fLgIOYpouxVg=" alt="image">
        <p class="intro"><b>A way for Organic Farming!!</b></p><br><br><br><br></p>
        <p>This is a website where the organic products that are needed to a farmer like seeds, Fertilizers, Pesticides are available.<br><br>
            Organic farmers rely on natural processes and cycles adopted to local conditions rather than the use of synthetic inputs.<br>
            Including these organic products in farming help to regenerate the health of soils, ecosystems and people.</p>
        
        
    </body>
</html>