
<!DOCTYPE html>
<html>
    <head>
        <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e9dc;
    background:url('https://github.com/YELETIMAHALAKSHMI/vishnu-organics/blob/main/public/formbackground.jpg?raw=true');
    
    
}
.header{
    height: 90px;
    width: 100%;
    border-radius: 5px;
    background-color: green;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.logo{
    color:white;
    size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo2{
    color:white;
    size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color:green;
}
.cart p{
    height: 22px;
    width :22px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: green;
    color: white;
}
.head{
    background-color: green;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color:white;
}
.foot{
    display:flex;
    justify-content: space-between;
    margin:20px 0px;
    padding: 10px 0px;
    border-top: 1px solid black;
}
.box{
    border:4px solid black;
    width:max-content;
    display:inline-block;
    position:absolute;
    overflow-y: scroll;
    left: 10px;
    top: 120px;
    height: 600px;
    
}
.card{
    border:1px solid black;
    width:max-content;
    height: 500px;
    text-align:center;
    display:inline-block;
    margin:5px;
  }
  .card img{
    width:300px;
    height:300px;
    padding:5px;
  }
.title{
    font-weight:bold;
    margin:20px;
}
.b{
    width: 50%;
    position: relative;
    border: none;
    border-radius:5px;
    background-color: green;
    padding:7px 25px;
    cursor: pointer;
    color:white;
}
.b:hover{
    box-shadow:  #333;
}
.cart1{
    position: absolute;
    right: 30px;
    top: 120px;
    width : 400px;
    background-color:#e5e9dc;
    float:right;
    text-align:center;
    border: 3px solid black;
    overflow-y: scroll;
    height: 500px;
    background-size: cover;
    background-image:url('https://images.freeimages.com/vhq/images/previews/798/abstract-green-bokeh-light-background-vector-graphic-74604.jpg');
}
.cartImg > img{
    width:200px;
}
.buttonX{
    position: absolute;
    top: 650px;
    right: 220px;
    width: 5%;
    background-color: green;
    border-radius:5px;
    color: white;
    padding: 2px;
}
    </style>
    </head>
    <body>
        <script>
            var addItemId = 0;
var total = 0;
function addToCart(item){
    addItemId += 1;
    var selecteditem = document.createElement('div');
    selecteditem.classList.add('cartImg');
    selecteditem.setAttribute('id',addItemId);
    var img = document.createElement('img');
    img.setAttribute('src',item.children[0].currentSrc);
    var title = document.createElement('div');
    title.innerText = item.children[1].innerText;
    var label = document.createElement('div');
    label.innerText=item.children[2].innerText;
    //var delbt = document.createElement("button");
    //delbt.innerText = "Delete";
    total += parseInt(label.innerText);
    //delbt.setAttribute("onclick","del("+addItemId+")","final("+addItemId+")");
    var cartItems = document.getElementById('title');
    
    selecteditem.append(img);
    selecteditem.append(title);
    selecteditem.append(label);
    selecteditem.append("Total:", total);
    //selecteditem.append(delbt);
    
    
    cartItems.append(selecteditem); 
}
        </script>
        <div class = "header">
            <!--<div class = "cart"><i class="fa-solid fa-cart-plus"></i></div> -->
            <marquee direction = "right" behavior = "alternate" class = "logo">SHOP NOW :)</marquee>
            <marquee class ="logo2">ADD YEAR'S TO YOUR LIFE WITH ORGANIC FOOD</marquee>
        </div>
        <div class = "cart1" id = "cart1">
            <div class = "title">My cart</div><hr/>
            <div id = "title"></div>
        </div>
        <a href="http://localhost:3000/feedbacknav">
            <button type="submit"class="buttonX">Next</button>
        </a>

    <div class = "box">
            <div class = "card" id = "item1">
                <img src = "https://m.media-amazon.com/images/I/51aq7UgK9vL._SX679_.jpg">
                <div class = "title"><i>Organic Bio potash</i><br><br></div>
                <div calss = "price"><b>148.00</b></div>
                <div class = "dis">Improves shape of flower,
                    <br> fruits, vegetables.</div>
                <button  class ="b" onclick = "addToCart(item1);">Add to cart</button>
            </div>
            <div class = "card" id = "item2">
                <img src = "https://m.media-amazon.com/images/I/71A8LlWirdS._SX679_.jpg">
                <div class = "title"><i>AGRILAND Bio </i><br><i>Aztobacter Biofertilizer</i></div>
                <div calss = "price"><b>149.00</b></div>
                <div class = "dis">Uses  for the plant growth, 
                    <br>promotes roots development. </div>
                <button  class ="b" onclick = "addToCart(item2);">Add to cart</button>
            </div>
            <div class = "card" id = "item3">
                <img src = "https://m.media-amazon.com/images/I/91-4i6LWvbL._AC_UL480_FMwebp_QL65_.jpg">
                <div class = "title"><i>mahua oil seed </i><br><i>cake powder</i></div>
                <div calss = "price"><b>259.00</b></div>
                <div class = "dis">Used to nourishes your plant
                     <br>growth, improves soil quality</div> 
                <button class ="b" onclick="addToCart(item3); ">Add to cart</button>
            </div>
            <br>
            <br>
            <div class = "card" id = "item4">
                <img src = "https://m.media-amazon.com/images/I/81Z2hByL3WL._SX522_.jpg">
                <div class = "title"><i>Natural Australian</i><br><i> Seaweed Extract liquid</i></div>
                <div calss = "price"><b>299.00</b></div>
                <div class = "dis">Used for home gardening, 
                    <br>improves soil health.</div>
                <button  class ="b" onclick = "addToCart(item4);">Add to cart</button>
            </div>
            <div class = "card" id = "item5">
                <img src = "https://m.media-amazon.com/images/I/71XHpYNFP7L._SY500_.jpg">
                <div class = "title"><i>organic growth booster</i><br><br></div>
                <div calss = "price"><b>314.00</b></div>
                <div class = "dis">Promotes plant growth and
                    <br> protects against diseases.</div>
                <button  class ="b" onclick = "addToCart(item5); ">Add to cart</button>
            </div>
            <div class = "card" id = "item6">
                <img src = "https://m.media-amazon.com/images/I/61-uMgjWVNL._SX425_.jpg">
                <div class = "title"><i>NPK 19:19:19(3kg) </i><br><br></div>
                <div calss = "price"><b>390.00</b></div>
                <div class = "dis">Best water hold capacity <br><br></div>
                <button  class ="b" onclick = "addToCart(item6); ">Add to cart</button>
            </div> 
            <br>
            <br>
            <div class = "card" id = "item7">
                <img src = "https://m.media-amazon.com/images/I/51pjyS2GksL.jpg">
                <div class = "title"><i>Bhindi seeds</i><br><br></div>
                <div calss = "price"><b>75.00</b></div>
                <div class = "dis"><br><br></div>
                <button  class ="b" onclick = "addToCart(item7);">Add to cart</button>
            </div>
            <div class = "card" id = "item8">
                <img src = "https://5.imimg.com/data5/SELLER/Default/2020/9/JF/FP/AA/38589522/organic-tomato-seeds-1000x1000.jpg">
                <div class = "title"><i>Tomato seeds</i><br><br></div>
                <div calss = "price"><b>70.00</b></div>
                <div class = "dis"> <br><br></div>
                <button  class ="b" onclick = "addToCart(item8);">Add to cart</button>
            </div>
            <div class = "card" id = "item9">
                <img src = "https://m.media-amazon.com/images/I/81SPUpaX8-L._SL1500_.jpg">
                <div class = "title"><i>spinach seeds</i><br><br></div>
                <div calss = "price"><b>40.00</b></div>
                <div class = "dis"><br><br></div>
                <button  class ="b" onclick = "addToCart(item9);">Add to cart</button>
            </div>
            <br>
            <br>
            <div class = "card" id = "item10">
                <img src = "https://d3kgrlupo77sg7.cloudfront.net/media/houseofprakriti.com/images/products/353-organic-watermelon-seeds-250-gm-1619337190.20210524153328.webp">
                <div class = "title"><i>watermelon seeds</i><br><br></div>
                <div calss = "price"><b>63.00</b></div>
                <div class = "dis"><br><br></div>
                <button  class ="b" onclick = "addToCart(item10);">Add to cart</button>
            </div>
            <div class = "card" id = "item11">
                <img src = "https://rukminim1.flixcart.com/image/416/416/l251xu80/plant-seed/s/y/6/200-green-chilli-seeds-hybrid-200-seeds-willvine-original-imagdjn68t9zbdjb.jpeg?q=70">
                <div class = "title"><i>green chilli seeds</i><br><br></div>
                <div calss = "price"><b>39.00</b></div>
                <div class = "dis"><br><br></div>
                <button  class ="b" onclick = "addToCart(item11);">Add to cart</button>
            </div>
            <div class = "card" id = "item12">
                <img src = "https://4.imimg.com/data4/WV/YP/MY-3318872/brinjal-seed-500x500.jpg">
                <div class = "title"><i>brinjal seeds</i><br><br></div>
                <div calss = "price"><b>39.00</b></div>
                <div class = "dis"><br><br></div>
                <button  class ="b" onclick = "addToCart(item12);">Add to cart</button>
            </div>


    </div>
    </body>
</html>

