<!DOCTYPE html>
<html>
    <head>
        <title>Thank You</title>
        <style>
            body{
                background-image: url(https://www.agrifac.com/app/uploads/2020/11/Sustainable_Farming_Circle.jpg);
                background-repeat: no-repeat;
                width: 90%;
                height: 100%;
                background-size: cover;
            }
            .blink{
              font-size: 70px;
              margin-top: 300px;
            }
            .buttonX{
                position:absolute;
                right: 200px;
                bottom: 150px;
                width: 5%;
                color:whitesmoke;
                background-color: rgb(0, 166, 255);
                border-color: rgb(0, 166, 255);
                padding-top: 2px;
                padding-bottom: 2px;
            }
        </style>
    </head>
    <body>
        <center><marquee diresction="left" scrollamount="15"><h2 class = "blink">Thank you for visiting our Website :)</h2></marquee></center>
        <a href="http://localhost:3000/homenav">
            <button type="submit"class="buttonX">Logout</button>
        </a>
    </body>
</html>